'use strict'

module.exports = {
  name: 'Rekordr',
  version: '3.0.0',
  env: process.env.NODE_ENV || 'development',
  port: process.env.PORT || 8080,
  baseUrl: process.env.BASE_URL || 'http://localhost:8080',
  db: {
    uri: 'mongodb://45.79.141.159:27010/rekordr_dev',
    testUri: 'mongodb://localhost:27017/rekordr_test',
  },
  password: {
    salt: 'wud9I28nMx&aeiU47Hy7%skdf'
  },
  postageapp: {
    API_ID: "qsyZvr7QghMVVX5whkBusqS3Gip4bWWj"
  },
  paginate: {
    page: 1,
    limit: 10,
    sort: 'name:asc',
    perPage: 25,
  },
  aws: {
    s3: {
      secretKey: 'THx0Ln1prNLyoJeghJD9Ooxjmkkrs58qY0S0Tijy',
      accessKey: 'AKIA4IAM4CFJL3YVWBPL',
      bucket: 'istory-prod',
      baseUrl: 'https://s3.amazonaws.com/istory-prod/',
      image: {
        size: 10485760,
        width: 800,
        height: 1205,
        thumb: {
          size: 10485760,
          width: 333,
          height: 213
        }
      },
      defaultBucket: 'istory-prod',
      videoBucket: 'istory-prod'
    }
  },
  apn: {
    key: '/cert/AuthKey_5C382B4U8W.p8',
    production: false, // set true for production!!
    keyId: '5C382B4U8W',
    teamId: '93WV4LTCJK',
    bundleId: 'com.rekordr.stage'
  },
  test: process.env.NODE_ENV === 'development' ? true : false,
  debug: true,
  token: {
    expire: 86400,  // expires in 24 hours
    salt: 'Njsdash898dsnS0p6san8&3n32j&dhs7a8nkmndmaiuHDNjdsshdyi*y',
    expireDays: 30
  },
  daysCheck: 30,
  subscription: {
    limit: {
      BASIC: 102400, // 100 MB
      STANDARD: 5120000, // 500 MB
      PREMIUM: 10240000 // 1 GB
    }
  },
  group: {
    limit: 5
  },
  website: {
    baseUrl: 'https://istoryapp.com'
  }
}
